.editor {
	max-height: 100dvh;
	display: grid;
	grid-template-columns: 1fr 10vw;
}

.program {
	max-height: 100dvh;
	overflow: scroll;
}

.sideBarItem,
.draggableNode {
	padding: 0.5rem;
	border-width: 0.3rem;
	border-style: dashed;
	border-color: rgb(0, 0, 0);
}
.sideBarItem {
	margin: 1rem 0;
	padding: 0.5rem;
	border-width: 0.3rem;
	border-style: dashed;
	border-color: rgb(0, 0, 0);
}

.draggableNode {
	margin: 1rem;
	width: min-content;
	padding: 0.5rem;
	border-width: 0.3rem;
	border-style: dashed;
	border-color: rgb(0, 0, 0);
}
.node {
	margin: 1rem;
	width: fit-content;
	padding: 0.5rem;
	border-width: 0.1rem;
	border-style: solid;
	border-color: rgb(0, 0, 0);
}

.emptyStatmentBox {
	padding: 0.5rem;
	border-width: 0.1rem;
	border-style: solid;
	border-color: rgb(0, 0, 0);
	background-color: rgb(0, 100, 100);
	max-width: 10rem;
	min-height: 1rem;
	color: rgb(0, 255, 0);
}

.emptyStatmentBox.canDrag {
	background-color: rgb(0, 200, 0);
	color: rgb(0, 0, 0);
}

.nodeIndentChildren {
	border-width: 0 0 0 0.1rem;
	border-style: solid;
	border-color: rgb(0, 255, 0);
	padding-left: 5rem;
}
